body {
  background-color: rgb(150, 207, 217);
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  margin-top: 200px;  
}

.calcu-wrapper {
  background-color: rgb(0, 0, 0);
  width: 800px;
  color: white;
  border-radius: 20px;  
  overflow: hidden;
}


